:root{
    --main-bg-color: rgb(76, 80, 233);
    --main-second-color: rgb(240,84,31);
    --footer-bg-color:rgb(42, 63, 104);
    --font-color-light:whitesmoke;
    --font-color-dark: gray;
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

/* ----------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}
ul{
    list-style-type: none;
}
p, li{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------------------------------------- */
.home_page, .presentation{
    display: flex;
    width: 100%;
    height: 100vh;
    color: var(--font-color-light);
}
.home_page{
    color: var(--font-color-dark);
}
/* ----------------------------------------------------------- */
.presentation{
    background-color:var(--main-bg-color);
}

.name_tag_line, .pres_message{
    margin: auto;
    width: 100%;
    text-align: center;
}
/* ----------------------------------------------------------- */
.competencies{
    width: 100%;
    height: 100vh;
    margin: auto;
}
.box{
    
    width: 100%;
    display: flex;
    justify-content:center;
    position: relative;
    top: -50px; 
}
.column_front,.column_back{
    width: 30%;
    background-color:white;
    text-align: center;
    border: 2px solid rgba(211, 211, 211, 1);
    border-radius: 20px 0px 0px 20px;
    
}
.column_back{
    border-radius: 0px 20px 20px 0px;
}
/* ----------------------------------------------------------- */
.recent_work{
    width: 100%;
    height: 100vh;

}
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project_title{
    text-align: center;

}
.projet_box{
    width: 400px;
    border: solid 3px var(--main-bg-color);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.font_color{
    color: var(--main-bg-color);
}
    
    

/* ----------------------------------------------------------- */
.footer{
   
    background-color: var(--footer-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
.logo {
    margin-top: 30px;
}
.social_links{
    margin-bottom: 30px;
}
/* ----------------------------------------------------------- */

.form_box{
    width: 50%;
    margin: 0 auto;
    padding: 50px;

}